{% extends 'base.html.twig' %}

{% block title %}{{ 'visiteur.login.meta.title'|trans }}{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-11 col-lg-8 mx-auto">
                                    <div class="login my-48">
                                        <h1 class="mb-0">
                                            {{ 'visiteur.login.title'|trans }}
                                        </h1>

                                        <div class="media-social mt-32">
                                            <a href="" class="btn-bg-noir d-block w-100 text-center">
                                                {{ 'visiteur.login.apple'|trans }}
                                            </a>

                                            <a href="" class="btn-bg-border-gris mt-16 d-block w-100 text-center">
                                                {{ 'visiteur.login.google'|trans }}
                                            </a>
                                        </div>

                                        <div class="divider my-32">
                                            <span>{{ 'visiteur.login.or'|trans }}</span>
                                        </div>

                                        <div class="formulaire">
                                            <form method="post">
                                                <div>
                                                    <label for="inputEmail" class="form-label mb-16">
                                                        {{ 'visiteur.login.email.label'|trans }}
                                                    </label>

                                                    <input
                                                        type="email"
                                                        value="{{ last_username }}"
                                                        name="email"
                                                        id="inputEmail"
                                                        class="form-control mb-16 {% if error %}flash-input-error{% endif %}"
                                                        autocomplete="email"
                                                        placeholder="{{ 'visiteur.login.email.placeholder'|trans }}"
                                                        required
                                                        autofocus
                                                    >

                                                    <label for="inputPassword" class="form-label mb-16">
                                                        {{ 'visiteur.login.password.label'|trans }}
                                                    </label>

                                                    <input
                                                        type="password"
                                                        name="password"
                                                        id="inputPassword"
                                                        class="form-control {% if error %}flash-input-error{% endif %}"
                                                        autocomplete="current-password"
                                                        placeholder="{{ 'visiteur.login.password.placeholder'|trans }}"
                                                        required
                                                    >

                                                    <input
                                                        type="hidden"
                                                        name="_csrf_token"
                                                        data-controller="csrf-protection"
                                                        value="{{ csrf_token('authenticate') }}"
                                                    >

                                                    {% for label, messages in app.flashes %}
                                                        {% if label in ['danger', 'error', 'warning'] %}
                                                            {% for message in messages %}
                                                                <span class="flash-message flash-message-error mt-24 d-block">
                                                                    {{ message|trans }}
                                                                </span>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if error %}
                                                        <div class="flash-message flash-message-error mt-24 d-block">
                                                            {{ 'visiteur.login.error.invalid_credentials'|trans }}
                                                        </div>
                                                    {% endif %}

                                                    <button class="mt-32 btn-submit w-100 text-white" type="submit">
                                                        {{ 'visiteur.login.submit'|trans }}
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                        <a href="{{ path('app_forgot_password_request') }}" class="my-24 d-block w-100 text-center text-blue link-blue">
                                            {{ 'visiteur.login.forgot_password'|trans }}
                                        </a>

                                        <a href="{{ path('app_visiteur_inscription') }}" class="btn-bg-border-blue d-block w-100 text-center">
                                            {{ 'visiteur.login.register'|trans }}
                                        </a>

                                        <a href="{{ path('app_professionnelle_connexion') }}" class="mt-34 d-block w-100 text-center text-blue link-blue">
                                            {{ 'visiteur.login.professional_link'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-none d-lg-block pe-0">
                    <div class="bg-login"></div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
