{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<header class="topbar position-relative">
    <div class="container-fluid g-0">
        <nav class="navbar navbar-expand-lg topbar-nav">

            <a class="navbar-brand topbar-brand" href="#">
                <img src="{{ asset('images/logo/logo-blanc.svg') }}" alt="Boolts" class="topbar-logo">
            </a>

            <div class="topbar-mobile-actions d-flex align-items-center ms-auto">
                <a href="#" class="topbar-avatar-link">
                    <img src="{{ asset('images/authentification/auxioma.png') }}" alt="Profil utilisateur" class="topbar-avatar">
                </a>

                <button
                    class="navbar-toggler topbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar"
                    aria-expanded="false"
                    aria-label="Ouvrir le menu"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav ms-lg-auto align-items-lg-center topbar-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acheter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Louer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vendre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Trouver un pro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Exclusivités</a>
                    </li>

                    <li class="nav-item ms-lg-3">
                        <a href="#" class="btn topbar-btn">
                            <span class="topbar-btn-icon">+</span>
                            Déposer une annonce
                        </a>
                    </li>

                    <li class="nav-item ms-lg-3 d-none d-lg-block">
                        <a href="#" class="topbar-avatar-link">
                            <img src="{{ asset('images/authentification/auxioma.png') }}" alt="Profil utilisateur" class="topbar-avatar">
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</header>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-11 col-lg-8 mx-auto">
                                    <div class="login my-48">
                                        <h1 class="mb-0">Saisissez votre adresse mail</h1>
                                        <div class="formulaire mt-32">

                                            {{ form_start(requestForm, {
                                                attr: {
                                                    'data-turbo': 'false'
                                                }
                                            }) }}

                                            <div class="">
                                                    <label for="email" class="form-label mb-16">Adresse e-mail</label>
                                                    {{ form_widget(requestForm.email) }}

                                                    {% for label, messages in app.flashes %}
                                                        {% if label in ['danger', 'error', 'warning', 'success'] %}
                                                            {% for message in messages %}
                                                                <span class="
                                                        flash-message mt-24 d-block
                                                        {% if label in ['danger', 'error'] %}flash-message-error{% endif %}
                                                        {% if label == 'warning' %}flash-message-error{% endif %}
                                                        {% if label == 'error' %}flash-message-error{% endif %}
                                                        {% if label == 'success' %}flash-message-success{% endif %}
                                                    ">
                                                        {{ message }}
                                                    </span>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}



                                                    <button class="mt-32 btn-submit w-100 text-white" type="submit">Envoyer le lien de modification</button>
                                                </div>
                                            {{ form_end(requestForm) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block pe-0">
                    <div class="bg-login"></div>
                </div>
            </div>

        </div>
    </main>

{% endblock %}
