<header class="topbar position-relative">
    <div class="container-fluid g-0">
        <nav class="navbar navbar-expand-lg topbar-nav">

            <a class="navbar-brand topbar-brand" href="#">
                <img src="{{ asset('images/logo/logo-blanc.svg') }}" alt="Boolts" class="topbar-logo">
            </a>

            <div class="topbar-mobile-actions d-flex align-items-center ms-auto">
                <a href="#" class="topbar-avatar-link">
                    <img src="{{ asset('images/authentification/auxioma.png') }}" alt="Profil utilisateur" class="topbar-avatar">
                </a>

                <button
                    class="navbar-toggler topbar-toggler"
                    type="button"

                    {# data-bs-toggle="collapse"
                    data-bs-target="#mainNavbar" #}
                    aria-controls="mainNavbar"
                    aria-expanded="false"
                    aria-label="Ouvrir le menu"
                >
                    <span class="icon-menu"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav ms-lg-auto align-items-lg-center topbar-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acheter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Louer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vendre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Trouver un pro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Exclusivités</a>
                    </li>

                    <li class="nav-item ms-lg-3">
                        <a href="#" class="btn topbar-btn">
                            <i class="icon-plus"></i>
                            Déposer une annonce
                        </a>
                    </li>

                    <li class="nav-item ms-lg-3 d-none d-lg-block">
                        {# je vais faire des redirection si utilisateur est connecté et en fonction du role #}
                        {% if not app.user %}
                            <a href="{{ path('app_login') }}" class="topbar-avatar-link">
                                <i data-lucide="circle-user" class="icon-user"></i>

                            </a>
                        {% else %}
                            {# Utilisateur connecté : redirection selon rôle #}

                            {% if is_granted('ROLE_ADMIN') %}
                                {% set dashboardPath = path('admin') %}
                            {% elseif is_granted('ROLE_AGENCE') %}
                                {% set dashboardPath = path('app_dashboard_agence_immobiliere_dashboard') %}
                            {% else %}
                                {% set dashboardPath = path('app_visiteur_dashboard') %}
                            {% endif %}

                            {% set avatar = app.user.imageName ? vich_uploader_asset(app.user, 'avatarFile') : null %}
                            {% set firstLetter = app.user.prenom ? app.user.prenom|first|upper : null %}


                                {% if avatar %}
                                    <a href="#" class="topbar-avatar-link">
                                        <img
                                            src="{{ avatar }}"
                                            alt="Profil utilisateur"
                                            class="topbar-avatar"
                                        >
                                   </a>
                                {% elseif firstLetter %}
                                    <a href="{{ dashboardPath }}" class="topbar-avatar-link me-0">
                                        <div class="topbar-avatar avatar-letter">
                                            {{ firstLetter }}
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="{{ dashboardPath }}" class="topbar-avatar-link">
                                        <img
                                            src="{{ asset('images/authentification/auxioma.png') }}"
                                            alt="Profil utilisateur"
                                            class="topbar-avatar"
                                        >
                                    </a>
                                {% endif %}
                        {% endif %}
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</header>
{#
<nav id="mobile-menu">
    <ul>
        <li><a href="#">Acheter</a></li>
        <li><a href="#">Louer</a></li>
        <li><a href="#">Vendre</a></li>
        <li><a href="#">Trouver un pro</a></li>
        <li><a href="#">Exclusivités</a></li>
        <li><a href="#">Déposer une annonce</a></li>
    </ul>
</nav>
#}
