{% extends 'base.html.twig' %}

{% block title %}{{ 'professionnel.reset_password.meta.title'|trans }}{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-11 col-md-10 col-lg-4 mx-auto ">
                                    <div class="login my-48 px-48 py-48 bg-white rounded-24">
                                        <h1 class="mb-0 text-center">
                                            {{ 'professionnel.reset_password.title'|trans }}
                                        </h1>

                                        <div class="formulaire mt-32">
                                            {{ form_start(resetForm, {
                                                attr: {
                                                    'data-turbo': 'false'
                                                }
                                            }) }}

                                            <div class="">

                                                {% set errorMpd = resetForm.plainPassword.first.vars.errors|length > 0 %}

                                                <label for="reset_form_plainPassword_first" class="form-label mb-16">
                                                    {{ 'visiteur.reset_password.reset.password.label'|trans }}
                                                </label>

                                                {{ form_widget(resetForm.plainPassword.first, {
                                                    attr: {
                                                        class: 'form-control mb-16',
                                                        placeholder: 'visiteur.reset_password.reset.password.placeholder'|trans
                                                    }
                                                }) }}

                                                <label for="reset_form_plainPassword_second" class="form-label mb-16">
                                                    {{ 'visiteur.reset_password.reset.password_confirm.label'|trans }}
                                                </label>

                                                {{ form_widget(resetForm.plainPassword.second, {
                                                    attr: {
                                                        class: 'form-control mb-16',
                                                        placeholder: 'visiteur.reset_password.reset.password_confirm.placeholder'|trans
                                                    }
                                                }) }}

                                                {% for label, messages in app.flashes %}
                                                    {% if label in ['danger', 'error', 'warning', 'success'] %}
                                                        {% for message in messages %}
                                                            <span class="
                                                                flash-message mt-24 d-block
                                                                {% if label in ['danger', 'error'] %}flash-message-error{% endif %}
                                                                {% if label == 'warning' %}flash-message-error{% endif %}
                                                                {% if label == 'error' %}flash-message-error{% endif %}
                                                                {% if label == 'success' %}flash-message-success{% endif %}
                                                            ">
                                                                {{ message|trans }}
                                                            </span>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if resetForm.plainPassword.first.vars.errors|length > 0 %}
                                                    {% for error in resetForm.plainPassword.first.vars.errors %}
                                                        <div class="flash-message flash-message-error mt-24 d-block">
                                                            {{ error.message|trans }}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}

                                                <button class="mt-32 btn-submit w-100 text-white" type="submit" data-turbo="false">
                                                    {{ 'visiteur.reset_password.reset.submit'|trans }}
                                                </button>
                                            </div>

                                            {{ form_end(resetForm) }}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block stylesheets %}
    <style>
        body {
            background: url("{{ asset('images/authentification/real-estate.webp') }}") no-repeat center center fixed;
            background-size: cover;
            min-height: 100vh;
        }
    </style>
{% endblock %}
