{% extends 'base.html.twig' %}

{% block title %}{{ 'professionnel.reset_password.check_email.meta.title'|trans }}{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-11 col-md-10 col-lg-4 mx-auto ">
                                    <div class="login my-48 px-48 py-48 bg-white rounded-24 text-center margin-footer-link">
                                        <h1 class="mb-0">
                                            {{ 'professionnel.reset_password.check_email.title'|trans }}
                                        </h1>

                                        <a href="{{ path('agence_immobiliereforgot_password_request') }}" class="mt-32 d-block w-100 text-blue link-blue fz-16">
                                            {{ 'professionnel.reset_password.check_email.resend_link'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block stylesheets %}
    <style>
        body {
            background: url("{{ asset('images/authentification/real-estate.webp') }}") no-repeat center center fixed;
            background-size: cover;
            min-height: 100vh;
        }
    </style>
{% endblock %}
