{% extends 'base.html.twig' %}

{% block title %}{{ 'professionnel.login.meta.title'|trans }}{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-11 col-md-10 col-lg-4 mx-auto ">
                                    <div class="login my-48 px-48 py-48 bg-white rounded-24">
                                        <h1 class="mb-0 text-lg-center ">
                                            {{ 'professionnel.login.title'|trans }}
                                        </h1>

                                        <div class="media-social mt-32">
                                            <a href="" class="btn-bg-noir d-block w-100 text-center">
                                                {{ 'professionnel.login.apple'|trans }}
                                            </a>

                                            {{ include('composant/_authentification/_google_login.html.twig', {
                                                type: 'professionnel'
                                            }) }}
                                        </div>

                                        <div class="divider my-32">
                                            <span>{{ 'professionnel.login.or'|trans }}</span>
                                        </div>

                                        <div class="formulaire">                                            
                                            <form method="post">
                                                <div class="">
                                                    <label for="email" class="form-label mb-16">
                                                        {{ 'professionnel.login.email.label'|trans }}
                                                    </label>

                                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-16 {% if error %}flash-input-error{% endif %}" autocomplete="email" required autofocus>

                                                    <label for="pwd" class="form-label mb-16">
                                                        {{ 'professionnel.login.password.label'|trans }}
                                                    </label>

                                                    <input type="password" name="password" id="inputPassword" class="form-control {% if error %}flash-input-error{% endif %}" autocomplete="current-password" required>

                                                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                                                    {% for label, messages in app.flashes %}
                                                        {% if label in ['danger', 'error', 'warning', 'success'] %}
                                                            {% for message in messages %}
                                                                <span class="
                                                                    flash-message mt-24 d-block
                                                                    {% if label in ['danger', 'error'] %}flash-message-error{% endif %}
                                                                    {% if label == 'warning' %}flash-message-error{% endif %}
                                                                    {% if label == 'error' %}flash-message-error{% endif %}
                                                                    {% if label == 'success' %}flash-message-success{% endif %}
                                                                ">
                                                                    {{ message|trans }}
                                                                </span>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if error %}
                                                        <div class="flash-message flash-message-error mt-24 d-block">
                                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                                        </div>
                                                    {% endif %}

                                                    <button class="mt-32 btn-submit w-100 text-white" type="submit">
                                                        {{ 'professionnel.login.submit'|trans }}
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                        <a href="{{ path('agence_immobiliereforgot_password_request') }}" class="my-24 d-block w-100 text-center text-blue link-blue">
                                            {{ 'professionnel.login.forgot_password'|trans }}
                                        </a>

                                        <a href="{{ path('app_professionnelle_register') }}" class="btn-bg-border-blue d-block w-100 text-center">
                                            {{ 'professionnel.login.register'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block stylesheets %}
    <style>
        body {
            background: url("{{ asset('images/authentification/real-estate.webp') }}") no-repeat center center fixed;
            background-size: cover;
            min-height: 100vh;
        }
    </style>
{% endblock %}
