{% extends 'base.html.twig' %}

{% block title %}{{ 'professionnel.register.email.meta.title'|trans }}{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-11 col-md-10 col-lg-4 mx-auto ">
                                    <div class="login my-48 px-48 py-48 bg-white rounded-24">
                                        <h1 class="mb-0 text-center w-xl-70 mx-auto">
                                            {{ 'professionnel.register.email.title'|trans }}
                                        </h1>

                                        <div class="media-social mt-32">
                                            <a href="" class="btn-bg-noir d-block w-100 text-center">
                                                {{ 'professionnel.register.email.apple'|trans }}
                                            </a>

                                            {{ include('composant/_authentification/_google_login.html.twig', {
                                                type: 'professionnel'
                                            }) }}
                                        </div>

                                        <div class="divider my-32">
                                            <span>{{ 'professionnel.register.email.or'|trans }}</span>
                                        </div>

                                        <div class="formulaire">

                                            {{ form_start(emailForm, {
                                                attr: {
                                                    class: 'formulaire',
                                                }
                                            }) }}

                                                <div class="">

                                                    <label for="pwd" class="form-label mb-16">
                                                        {{ 'professionnel.register.email.email.label'|trans }}
                                                    </label>

                                                    {{ form_widget(emailForm.email, {
                                                        attr: {
                                                            class: 'form-control',
                                                        },
                                                    }) }}

                                                    {% for label, messages in app.flashes %}
                                                        {% if label in ['danger', 'error', 'warning'] %}
                                                            {% for message in messages %}
                                                                <span class="
                                                                    flash-message mt-24 d-block
                                                                    {% if label in ['danger', 'error'] %}flash-message-error{% endif %}
                                                                    {% if label == 'warning' %}flash-message-error{% endif %}
                                                                ">
                                                                    {{ message|trans }}
                                                                </span>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}

                                                    <button class="mt-32 btn-submit w-100 text-white" type="submit">
                                                        {{ 'professionnel.register.email.submit'|trans }}
                                                    </button>
                                                </div>

                                            {{ form_end(emailForm) }}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block stylesheets %}
    <style>
        body {
            background: url("{{ asset('images/authentification/real-estate.webp') }}") no-repeat center center fixed;
            background-size: cover;
            min-height: 100vh;
        }
    </style>
{% endblock %}
