{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-11 col-md-10 col-lg-4 mx-auto ">
                                    <div class="login my-48 px-48 py-48 bg-white rounded-24">
                                        <h1 class="mb-0  text-center">Saisissez votre adresse mail</h1>
                                        <div class="formulaire mt-32">
                                            {{ form_start(requestForm, {
                                                attr: {
                                                    'data-turbo': 'false'
                                                }
                                            }) }}

                                            <div class="">
                                                <label for="email" class="form-label mb-16">Adresse e-mail</label>
                                                {{ form_widget(requestForm.email) }}

                                                {% for label, messages in app.flashes %}
                                                    {% if label in ['danger', 'error', 'warning', 'success'] %}
                                                        {% for message in messages %}
                                                            <span class="
                                                        flash-message mt-24 d-block
                                                        {% if label in ['danger', 'error'] %}flash-message-error{% endif %}
                                                        {% if label == 'warning' %}flash-message-error{% endif %}
                                                        {% if label == 'error' %}flash-message-error{% endif %}
                                                        {% if label == 'success' %}flash-message-success{% endif %}
                                                    ">
                                                        {{ message }}
                                                    </span>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}

                                                <button class="mt-32 btn-submit w-100 text-white" type="submit">Envoyer le lien de modification</button>
                                            </div>
                                            {{ form_end(requestForm) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block stylesheets %}
    <style>
        body {
            background: url("{{ asset('images/authentification/real-estate.webp') }}") no-repeat center center fixed;
            background-size: cover;
            min-height: 100vh;
        }
    </style>
{% endblock %}
